@use '~styles/colors';

@mixin link() {
  .link {
    text-decoration: none;
    color: colors.$orange-red-crystal;
  
    background: 
      none,
      linear-gradient(to right, colors.$orange-red-crystal, colors.$orange-red-crystal);
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  } 

  .link:hover, .link:focus {
    background-size: 0 0.1em, 100% 0.1em;
  }
}