@use '~styles/colors';

@mixin link() {
  .link {
    color: colors.$orange-red-crystal;
    text-decoration: none;
    background: none,
      linear-gradient(
        to right,
        colors.$orange-red-crystal,
        colors.$orange-red-crystal
      );
    background-repeat: no-repeat;
    background-position: 100% 100%, 0 100%;
    background-size: 100% 0.1em, 0 0.1em;
    transition: background-size 400ms;
  }

  .link:hover,
  .link:focus {
    background-size: 0 0.1em, 100% 0.1em;
  }
}
