@mixin link($color) {
  .link {
    color: $color;
    text-decoration: none;
    background: none, linear-gradient(to right, $color, $color);
    background-repeat: no-repeat;
    background-position: 100% 100%, 0 100%;
    background-size: 100% 0.1em, 0 0.1em;
    transition: background-size 400ms;
  }

  .link:hover,
  .link:focus {
    background-size: 0 0.1em, 100% 0.1em;
  }
}
